projects:
  - name: Pocket URL
    environments:
      - name: Dev
        services:
          - type: web
            plan: free
            name: pocket-url-backend-dev
            runtime: python
            repo: https://github.com/TheAdduser/PocketURL
            branch: dev
            buildCommand: pip install -r backend/requirements.txt
            startCommand: gunicorn -w 2 -b 0.0.0.0:$PORT backend.app:app
            healthCheckPath: /health
            envVars:
              - key: PYTHON_VERSION
                value: 3.14.0
              - key: CORS_ALLOW_ALL
                value: "true"
              - key: DB_CONNECTION_STRING
                value: ""


          - type: web
            plan: free
            runtime: node
            name: pocket-url-frontend-dev
            repo: https://github.com/TheAdduser/PocketURL
            branch: dev
            buildCommand: |
              cd frontend
              npm install
              npm run build
            startCommand: |
              cd frontend
              npm run start
            envVars:
              - key: VITE_API_BASE_URL_DEV
                value: https://<backend-dev-host>