name: Backend CI/CD Pipeline

on:
  push:
    branches:
      - dev 
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  ci_tests:
    name: Run Python CI/Security Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
          
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: backend/requirements.txt
          
      - name: Install dependencies and tools (Flake8, Black, Pytest)
        working-directory: ./backend
        run: pip install -r requirements.txt flake8 black pytest
        
      - name: Run Code Formatter Check (Black)
        working-directory: ./backend
        run: black . --check 

        
      - name: Run Code Linter (Flake8)
        working-directory: ./backend
        run: flake8 . 
          
  deploy_dev:
    name: Trigger Render Deployment (DEV)
    runs-on: ubuntu-latest
    needs: ci_tests
    environment: dev
    
    steps:
      - name: Setup Node.js (dla curl)
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
            
      - name: Send Deploy Request to Render DEV
        run: curl -X POST ${{ secrets.BACKEND_RENDER_HOOK }}
