name: Frontend Deploy DEV

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build_and_deploy:
    name: Build & Trigger Deploy
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
          
      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Frontend
        working-directory: ./frontend
        run: npm run build 
        
      - name: Trigger Render Static Site Deployment
        if: github.ref == 'refs/heads/main'
        run: curl -X POST ${{ secrets.FRONTEND_RENDER_HOOK }}
        env:
          FRONTEND_RENDER_HOOK: ${{ secrets.FRONTEND_RENDER_HOOK }}